@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utility to hide scrollbar
.no-scrollbar {
    -ms-overflow-style: none; IE and Edge */
    /* scrollbar-width: none; Firefox */
  /* } */
  
  /* .no-scrollbar::-webkit-scrollbar { */
    /* display: none; /* Chrome, Safari, and Opera */
  /* } */ 
/* Hide scrollbar for all browsers */
.scrollbar-hide {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; 
}

